api/node_modules
api/npm-debug.log*
api/.env
api/.env.*
!api/.env.example
api/coverage
api/dist
api/build
api/tmp
api/temp
api/*.log
api/*.tsbuildinfo

web/node_modules

.git
.gitignore
.vscode
.DS_Store
Thumbs.db
docs/
mobile/
docker/
